/* Fonts */
@font-face{
  font-family: 'Scheherazade';
  src: url('../Assets/Fonts/Scheherazade-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: 'Scheherazade';
  src: url('../Assets/Fonts/Scheherazade-bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: 'Cormorant';
  src: url('../Assets/Fonts/CormorantGaramond-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: 'Cormorant';
  src: url('../Assets/Fonts/CormorantGaramond-SemiBoldItalic.ttf');
  font-weight: bolder;
  font-style: italic;
}
@font-face{
  font-family: 'Cormorant';
  src: url('../Assets/Fonts/CormorantGaramond-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Cormorant';
  src: url('../Assets/Fonts/CormorantGaramond-Light.ttf');
  font-weight: lighter;
  font-style: normal;
}
@font-face{
  font-family: 'Cormorant';
  src: url('../Assets/Fonts/CormorantGaramond-LightItalic.ttf');
  font-weight: lighter;
  font-style: italic;
}


:root{
  font-size: 62.5%;

  /* Variables */

    /* Colors */
    --black-color: #1A0B10;
    --white-color: #FAF5F7;
    --blue-color: #087681;
    --main-color: #461D2C;
    --secondary-color: #A0734C;
    --light-color: #FEF6EF;

    /* Sizes */
      /* Spaces */
      --small-space: 4px;
      --medium-space: 8px;
      --normal-space: 16px;
      --large-space: 32px;
      --big-space: 64px;

      /* Paragraphs */
      
      --text-normal: 2.4rem;
      --text-title: 4.0rem;
      --text-button: 1.8rem;


  /* Shadows */
  --light-shadow: rgba(26, 11, 16, .16);
  --medium-shadow: rgba(26, 11, 16, .32);
  --normal-shadow: rgba(26, 11, 16, .64);
  --normal-shadow: rgba(26, 11, 16, .8);


}

*{
  color: var(--black-color);
  font-family: 'Cormorant';
  font-weight: normal;
  font-size: var(--text-normal);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

/* Texts */

  h1, h2, h3, h4, h5, h6{
    color: var(--blue-color);
    font-family: 'Scheherazade';
    font-weight: bold;
    font-size: var(--text-title);
    padding: 0;
    margin: 0;
    line-height: var(--large-space);
  }

  a{
    outline: none;
  }

  q, i{
    font-family: var(--text-normal);
    font-weight: lighter;
    font-style: italic;
  }

/* Buttons */
  button{
    font-family: 'Cormorant';
    font-weight: lighter;
    font-size: var(--text-button);
    padding: var(--medium-space);
    min-width: 132px;
    max-width: 600px;
    transition: .3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 0 16px var(--light-shadow);
    transition: 0.3s ease-in-out;
    will-change: scale;
  }
  button:hover{
    transform: scale(1.04);
  }
  button:active{
    transform: scale(0.98);
  }

  .button__primary{
    background-color: var(--white-color);
    color: var(--black-color);
    border: 1px solid var(--black-color);
  }
  .button__secondary{
    background-color: var(--main-color);
    color: var(--white-color);
    border: 1px solid var(--white-color);
  }

  

/* Containers */
  .container-row{
    position: relative;
    display: flex;
    flex-flow: row wrap;
  }

  .container-column{
    position: relative;
    display: flex;
    flex-flow: column wrap;
  }

  .container-center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .container-left{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .container-right{
    display: flex;
    align-items: flex-end;
  }

  .container-bottom{
    display: flex;
    justify-content: flex-end;
  }

  .container-top{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .background-white{
    background-color: var(--white-color);
    color: black;
  }

  .background-black{
    background-color: var(--black-color);
    color: var(--white-color);
  }
  .background-black h1, .background-black h2, .background-black h3, .background-black h4, .background-black h5, .background-black h6 {
    color: var(--secondary-color);
  }

  .background-black p, .background-black a, .background-black span, .background-black small{
    color: var(--white-color);
  }


/* Start header  */
  .main-header{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    box-shadow: 0 0 16px var(--light-shadow);
    background-color: var(--white-color);
    z-index: 100;
  }

  .main-header__nav{
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .main-header__nav ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .main-header__pages{
    margin: var(--medium-space);
    padding: var(--small-space);
  }

  .main-header__pages > a{
    font-size: var(--text-button)
  }

  .main-header-mobile{
    display: none;
  }

  /* Menu */
  #container__menu{
    width: 100%;
    height: 0;
    transition: .3s ease-in-out;
    flex-flow: column nowrap;
    visibility: hidden;
    z-index: 1001;
  }
  #container__menu > *{
    margin: var(--normal-space);
  }

/* End header */


/* Transitions */
  a{
    transition: 0.3s ease-in-out;
  }
  a:hover{
    color: var(--secondary-color);
  }
/* End Transitions */


/* --------------------------- Start Travel section ------------------------------- */
  /* --------------------------- Start Travel section ------------------------------- */
  .container__start--travel{
    width: 100%;
    min-height: 32vh;
    align-items: center;
    justify-content: center;
    background-image: url('../Assets/Images/teamBeach.jpg');
    background-position: center;
  }

  .container__start--travel > *{
    margin: var(--small-space);
  }

  .form__fast--travel input[type='text'], .form__fast--travel input[type='number'], .form__fast--travel[type='date'], .form__fast--travel select{
      margin: 0;
      border: 0;
      min-width: 200px;
      max-width: 200px;
      background-color: var(--white-color) !important;
  }
  .fast--travel-container{
    padding: var(--medium-space);
    border: 1px solid var(--black-color);
    margin-bottom: var(--small-space);
  }
  /* --------------------------- Start Travel section ------------------------------- */
/* --------------------------- Start Travel section ------------------------------- */

/* --------------------------- Start Footer ------------------------------- */
  /* --------------------------- Start Footer ------------------------------- */
  .container__footer{
    width: 100%;
    padding: var(--large-space);
  }

  .container__footer--info > *{
    margin: var(--large-space);
  }
  /* --------------------------- Start Footer ------------------------------- */
/* --------------------------- Start Footer ------------------------------- */





@media only screen and (max-width: 700px){
  :root{
    --text-normal: 1.6rem;
    --text-title: 2.8rem;
    --text-button: 1.6rem;
  }

  /* Header mobile */
  .main-header__nav{
    display: none;
  }

  .main-header-mobile{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: var(--normal-space);
  }

}